<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
        <div class="jumbotron">
            <p><%= link_to "Whatup", "", class: "btn btn-default btn-success" %></p>
        </div>
    </div>
</div>